<h1>Users</h1>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style>
	<% if @users.blank? %>
	<h4> Please click on new link and create a user <%= link_to 'New', new_user_path %></h4>
<% else %>
	<%= link_to 'New', new_user_path %>
	<table style="width:50%">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>age</th>
			<th>Dob</th>
			<th>Gender</th>
			<th>Edit/Delete/Show</th>
		</tr>
		<% @users.each do |user| %>
		<tr style="height: 50px">
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.email %></td>
			<td><%= user.phone_number %></td>
			<td><%= user.age %></td>
			<td><%= user.dob %></td>
			<td><%= user.gender %></td>
			<td><%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to 'View', user, method: :get %></td>
		</tr>
		<% end %>
	</table>
<% end %>

