<h3>Create a User</h3>
<%= form_with model: @user do |form| %>
  <%= form.text_field :first_name, placeholder: "first_name" %> </br>
  <%= form.text_field :last_name, placeholder: "last_name" %> </br>
  <%= form.text_field :email, placeholder: "email" %> </br>
  <%= form.text_field :phone_number, placeholder: "phone_number" %> </br>
  <%= form.text_field :dob, placeholder: "dob" %> </br>
  <%= form.text_field :age, placeholder: "age" %> </br>
  <%= form.text_field :gender, placeholder: "gender" %> </br>
  <%= form.submit %>
<% end %>
