<h3>Create a User</h3>
<%= form_with model: @user do |form| %>
  <%= form.text_field :first_name, placeholder: "first_name", required: true %> </br>
  <%= form.text_field :last_name, placeholder: "last_name", required: true %> </br>
  <%= form.text_field :email, placeholder: "email", required: true %> </br>
  <%= form.text_field :phone_number, placeholder: "phone_number", required: true %> </br>
  <%= form.text_field :dob, placeholder: "dob", type: 'date', required: true%> </br>
  <%= form.text_field :age, placeholder: "age", required: true %> </br>
  <%= form.text_field :gender, placeholder: "gender", required: true %> </br>
  <%= form.submit %>
<% end %>
